<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="background vh-100 py-5 d-flex justify-content-center">
        <form action="/api/signin" method="POST" class="login w-25">
            <h3 class="text-center">Вход</h3>
            <div class="form-floating mb-3 mt-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="Введите email" name="email">
                <label for="floatingInput">Введите email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Введите пароль" name="password">
                <label for="floatingPassword">Введите пароль</label>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3 p-3">Войти</button>
        </form>
    </div>
</body>
</html>