<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="background py-5">
        <div class="page-layout container d-flex">
            <div class="main w-75">
                <h3>Мои блоги</h3>
                <div class="blog mt-3 pt-3">
                    <img class="w-100" src="/img/image 1.svg" alt="">
                    <h3 class="py-3 mt-3">Обзор Report Manager от Webix</h3>
                    <p>Осень 2020 года стала плодотворным временем для специалистов Webix. <br>
                        <br>
                        Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. <br>
                        <br>
                        Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его
                    </p>
                    <div class="blog-info d-flex justify-content-between align-items-center mt-5">
                        <div class="date d-flex">
                            <div class="me-3">
                                <img src="/img/icons/calendar.svg" alt="">
                            </div>
                            <p>26.06.2020</p>
                        </div>
                        <div class="views d-flex">
                            <div class="me-3">
                                <img src="/img/icons/eye.svg" alt="">
                            </div>
                            <p>21</p>
                        </div>
                        <div class="comments d-flex">
                            <div class="me-3">
                                <img src="/img/icons/comment.png" alt="">
                            </div>
                            <p>4</p>
                        </div>
                        <div class="catalog d-flex position-relative">
                            <div class="me-3">
                                <img class="catalog-icon" src="/img/icons/communication.png" alt="">
                            </div>
                            <p>Веб-разработка</p>
                        </div>
                        <div class="user d-flex">
                            <div class="me-3">
                                <img src="/img/icons/user.svg" alt="">
                            </div>
                            <p>Nast1289</p>
                        </div>
                    </div>
                </div>
                <div class="blog mt-5 pt-3">
                    <img class="w-100" src="/img/image 2.png" alt="">
                    <h3 class="py-3 mt-3">Разработчики изобрели методологию высокоскоростного программирования</h3>
                    <p>Осень 2020 года стала плодотворным временем для специалистов Webix. <br>
                        <br>
                        Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. <br>
                        <br>
                        Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его
                    </p>
                    <div class="blog-info d-flex justify-content-between align-items-center mt-5">
                        <div class="date d-flex">
                            <div class="me-3">
                                <img src="/img/icons/calendar.svg" alt="">
                            </div>
                            <p>26.06.2020</p>
                        </div>
                        <div class="views d-flex">
                            <div class="me-3">
                                <img src="/img/icons/eye.svg" alt="">
                            </div>
                            <p>21</p>
                        </div>
                        <div class="comments d-flex">
                            <div class="me-3">
                                <img src="/img/icons/comment.png" alt="">
                            </div>
                            <p>4</p>
                        </div>
                        <div class="catalog d-flex position-relative">
                            <div class="me-3">
                                <img class="catalog-icon" src="/img/icons/communication.png" alt="">
                            </div>
                            <p>Веб-разработка</p>
                        </div>
                        <div class="user d-flex">
                            <div class="me-3">
                                <img src="/img/icons/user.svg" alt="">
                            </div>
                            <p>Nast1289</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile d-flex flex-column ms-4 w-25 shadow-sm">
                <div class="profile-img d-flex justify-content-center mb-3">
                    <img src="/img/avatar.png" alt="">
                </div>
                <p class="my-3">Елнур Сеитжанов</p>
                <p class="my-3">В основном пишу про веб - разработку, на React & Redux</p>
                <p class="my-3">285 постов за все время</p>
                <button class="btn btn-primary py-2 mt-3">Редактировать</button>
            </div>
        </div>
    </div>
</body>
</html>